section {
    margin-bottom: 25px;
    clear: both;
}

/******************** Artikel Liste im Block Format *****************/

section.artikelBlockFormat {
    clear: both;
}

section.artikelBlockFormat div.artikelBlockFormat {
    float: left;
    width: 165px;
    height: 235px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
    position: relative;
    background-color: #f6f6f6;
    border-radius: 10px;
}

section.contentKategorieBox div {
    height: 195px;
    margin-bottom: 15px;
}

article.mainContent section.contentKategorieBox div span {
    background-color: transparent;
}

section.artikelBlockFormat div span {
    display: block;
    text-align: center;
    height: 160px;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;

}

section.artikelBlockFormat div h2 {
    font-size: 12px;
    font-weight: normal;
    height: 27px;
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;
}

section.artikelBlockFormat div h2 a {
    color: #545454;
}

section.artikelDetailOther section.artikelBlockFormat h3 {
    margin-bottom: 25px;
    margin-top: 25px;
}

section.artikelBlockFormat div strong {
    display: block;
    height: 27px;
    text-align: right;
    padding: 10px;
}


/************ Artikel Liste --- Listenformat *************/

section.artikelListFormat {
    clear: both;
    margin-bottom: 15px;
    background-color: #f6f6f6;
    height: 220px;
}

section.artikelListFormat div.bildBox {
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 215px;
    text-align: center;
    padding-top: 5px;
    float: left;
    border-right: 5px solid #ffffff;
    background-color: #eeeeee;
}

section.artikelListFormat div.bildBox strong {
    display: block;
    margin-top: 5px;
}

section.artikelListFormat div.artikelListContentFormat {
    float: right;
    width: 395px;
    position: relative;
}

section.artikelListFormat div.artikelListContentFormat h2 {
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 0px;
}

section.artikelListFormat div.artikelListContentFormat h2 a {
    color: #000000;
}

section.artikelListFormat div.artikelListContentFormat p {
    font-size: 11px;
    padding: 0 8px 10px;
    color: #000000;
    position: absolute;
    top: 25px;
    left: 0px;
    width: 270px;
    height: 80px;
    overflow: hidden;
}

section.artikelListFormat div.artikelListContentFormat strong, section.artikelListFormat div.artikelListContentFormat small {
    display: block;
    text-align: right;
    padding-right: 7px;
    color: #FF6900;
    font-size: 16px;
    margin-bottom: 5px;
}

section.artikelListFormat div.artikelListContentFormat span {
    display: block;
    text-align: right;
}

section.artikelListFormat div.artikelListContentFormat small, section.artikelListFormat div.artikelListContentFormat small a {
    display: block;
    color: #999999;
    font-size: 9px;
}

section.artikelListFormat div.artikelListContentFormat form {
    position: absolute;
    top: 145px;
    left: 8px;
}

section.artikelListFormat div.artikelListContentFormat div.bestellButton {
    position: absolute;
    top: 180px;
    right: 10px;
}


section.artikelListFormat div.artikelListContentFormat h4 {
    position: absolute;
    right: 10px;
    top: 155px;
}

/*********** Artikel Listen Navigations Format ***********/

.weiterZurueckFormat {
    text-align: right;
    margin-bottom: 15px;
}

.weiterZurueckFormat h2 {
    width: 400px;
    float: left;
    text-align: left;
    border: 0;
    background-color: transparent;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
}

.weiterZurueckFormat h2 a {
    color: #999999;
}

.weiterZurueckErweitert {
    background-color: #f6f6f6;
    padding: 5px;
    border-radius: 5px;
}


span.au_page_active {
    padding:			3px;
    margin:				2px;
    font-size:			15px;
}

a.au_page_link{
    padding:			3px;
    font-size:			12px;
}

span.artikelweiterButton  a {
    font-weight:		bold;
    font-size:			14px;
    margin:				5px;
}

span.artikelZurueckButton a {
    font-weight:		bold;
    font-size:			14px;
    margin:				5px;
}


/************************* Artikeldetail Format ****************/

section.artikelDetailBox {
    width: 100%;
    background-color: #f6f6f6;
}

section.artikelDetailBox h1 {
    margin-bottom: 1px;
    border-bottom: 2px solid #ffffff;
}

section.artikelDetailBox div.artikelDetailBildBox {
    position: relative;
    overflow: hidden;
    border-right: 2px solid #ffffff;
    text-align: center;
    padding-top: 5px;
    background-color: #eeeeee;
    float: left;
}

section.artikelDetailBox div.artikelDetailBildBox a.artikelDetailBilder {
    display: block;
    float: left;
    width: 50px;
    height: 45px;
    padding-top: 5px;
    margin-right: 1px;
    margin-top: 5px;
    border: 1px solid #ffffff;
}

.mehrBilderBox {
    display: block;
}

section.artikelDetailBox div.artikelDetailBildBox strong {
    display: block;
    padding-top: 10px;
    clear: both;
    font-weight: normal;
}

section.artikelDetailBox div.artikelDetailBildBox span.bewertungSterne {
    padding-bottom: 10px;
    display: block;
}


/* Grunddefinition Highligth */

.highlight_left_top_45deg, .highlight_right_top_45deg, .highlight_left_bottom_45deg, .highlight_right_bottom_45deg {
    background: rgba(252,253,255,1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(252,253,255,1)), to(rgba(233,233,233,1)));
    background: -moz-linear-gradient(center top , #FFFFFF, #E8E8E8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#E8E8E8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#E8E8E8)";
    background-color: #E8E8E8;
    border: 1px solid #ffffff;
    position: absolute;
    width: 100px;
    font-size: 16px;
    color: #bf0000;
    font-weight: bold;
    z-index: 100;
}

/* Positionierung und Transform für Highlight */

.highlight_left_top_45deg {
    left: -22px;
    top: 18px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.highlight_right_top_45deg {
    right: -22px;
    top: 18px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.highlight_left_bottom_45deg {
    left: -22px;
    bottom: 18px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.highlight_right_bottom_45deg {
    right: -22px;
    bottom: 18px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

div.artikelDetailInfos strong, div.artikelDetailInfos small, div.artikelDetailInfos p {
    display: block;
    text-align: right;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
    color: #FF6900;
}

div.artikelDetailInfos small, div.artikelDetailInfos small a {
    color: #999999;
    font-size: 9px;
    margin-bottom: 5px;
}

div.artikelDetailInfos p {
    font-size: 11px;
    color: #999999;
    padding-bottom: 5px;
}

div.artikelDetailInfos form span.artikelMenge {
    display: block;
    text-align: right;
    padding-right: 10px;
}

div.artikelDetailInfos form span.artikelMenge input, div.artikelDetailInfos form select {
    font-size: 15px;
    border: 5px solid #eeeeee;
    border-radius: 7px;
}

div.artikelDetailInfos form select {
    margin: 10px 2px 10px;
}

div.artikelDetailInfos div {
    margin-right: 5px;
    margin-left: 5px;
}

section.artikelDetailOther {
    clear: both;
}

section.artikelDetailOther h3 {
    margin-bottom: 0px;
}


textarea.artikelPartnerTextarea {
    width:				530px;
    height:				150px;
    border:				1px solid #6D808F;
    background-color:	#EDEFF0;
    font-size:			10px;
    font-family:		verdana, arial, "sans serif";
}

div.artikelDetailTabBox {
    width: 560px;
    overflow: hidden;
    margin-bottom: 30px;
}

ul.artikelDetailTabNavi {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    height: 23px;
    border-bottom: 1px solid #FF6900;
    margin-bottom: 15px;
}

ul.artikelDetailTabNavi a {
    display: block;
    padding-bottom: 1px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
    font-size: 13px;
}

ul.artikelDetailTabNavi li {
    float: left;
    background-color: #FF6900;
    border-right: 1px solid #ffffff;
    height: 23px;
    line-height: 21px;
}

div.facebookcount {
    float: right;
}


/************************* Submit Button ***********************/

div.submitButton {
    background-color: #FF6900;
    border: 3px solid #ffca6e;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

div.submitButtonAlternative, form div.submitButtonAlternative input {
    background-color: #999999;
}

div.submitButtonAlternative {
    border: 3px solid #dddddd;
}

div.submitButton a, div.submitButton a strong.button, div.submitButton a strong  {
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0px;
    padding-right: 0;
}

div.submitButton input {
    background-color: #FF6900;
    border: 0;
    font-size: 13px;
    color: #ffffff;
}


/*************************** Tabellen Formatierung **************************/

table.standard {
    width: 100%;
    table-layout: auto;
    border-spacing: 8px;
    empty-cells: show;
    border-collapse: collapse;
    margin-bottom: 25px;
}

table.bestellungsBox, table.bestellungsBox tr th, table.bestellungsBox tr td {
    background-color: #fff2c7;
}

th {
    font-weight: bold;
    font-size: 12px;
    padding: 6px;
    spacing: 1px;
    background-color: #f6f6f6;
}

td {
    padding: 3px;
    font-size: 11px;
    border: 2px solid #ffffff;
    background-color: #fbfbfb;
    vertical-align: top;
    overflow: hidden;
    line-height: 16px;
}

table.standard tr td input {
    border: 1px solid #D7DBDD;
}

td.streifenmuster {
    background-color: #fbfbfb;
}

td.tdSummHighlightLow {
    text-align: right;
}

td.tdSummHighlight {
    font-size: 12px;
    text-align: right;
}

td.tdSummeGesamt {
    text-align: right;
    font-size: 18px;
}

/******* Content Background Formatierung ****/

.contentRow {
    display: block;
    text-align: left;
    font-size: 11px;
    margin-top: 1px;
    padding: 5px;
}

.contentSecondRow {
    background-color: #fbfbfb;
}


/********************************* Content Login Formatierungen ************************/

div.contentLoginBox, div.contentRegisterBox {
    width: 263px;
    float: left;
    border: 4px solid #F6F6F6;
    border-radius: 7px;
    height: 160px;
    margin-bottom: 20px;
}

div.contentLoginBox {
    margin-right: 20px;
}

div.contentRegisterBox div, div.contentLoginBox div {
    display: block;
    padding: 5px;
}

div.contentLoginBox div fieldset {
    border: 0px;
}

div.contentLoginBox div fieldset label {
    width: 80px;
    float: left;
}

div.contentLoginBox div fieldset input {
    width: 140px;
    height: 18px;
    margin-bottom: 2px;
}

div.contentRegisterBox div p {
    height: 45px;
}


/********************************* Content Formular Formatierungen ************************/

fieldset.content {
    border: 10px solid #eaeaea;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-bottom: 15px;
}

fieldset.content label, label.content {
    float: left;
    width: 160px;
}

fieldset.content input, fieldset.content select, input.content {
    width: 290px;
    height: 23px;
    font-size: 12px;
    border: 3px solid #e7ebed;
    margin: 3px;
    border-radius: 5px;
}

fieldset.content input.contentMed {
    width: 245px;
}

fieldset.content input.kleinContent {
    width: 32px;
}

fieldset.content textarea, textarea.bemerkung {
    width: 290px;
    height: 120px;
    font-size: 12px;
    border: 3px solid #e7ebed;
    margin: 3px;
    border-radius: 5px;
}

textarea.bemerkung {
    width: 100%;
    height: 60px;
    margin-left: 0;
}

fieldset.content input[type=radio] {
    width: 10px;
    height: 10px;
    border: 0px;
}

select.variantenForm {
    margin-top: 15px;
}

#formFehler {
    background-color:	red;
    color:				#ffffff;
}


/********************** Formatierung fuer Zahlungsart und Versandartauflistung ***********************/

.zahlVersandListFormat {
    display: 			block;
    font-weight:		bold;
    font-size:			13px;
    padding-bottom:		10px;
}

div.zahlVersandListFormat input {
    border:				0px;
}

.zahlVersandListBeschreibung {
    display: 			block;
    padding-bottom:		35px;
    border-bottom: 1px solid #f6f6f6;
}

.zahlVersandListBeschreibung img {
    float:				left;
    margin-right:		5px;
    margin-bottom:		35px;
}


/********************************* Content Gutschein Formatierungen ************************/
div.contentGutscheinBox {
    padding-top: 10px;
    border: 10px solid #eaeaea;
    border-radius: 10px;
    background-color: #f6f6f6;
}

div.contentGutscheinBox label {
    float:				left;
    width:				100px;
    margin-left: 5px;
}

div.contentGutscheinBox input {
    float:				left;
    width:				100px;
    height:				18px;
    margin-right:		3px;
    margin-left: 5px;
}

div.contentGutscheinBox a {
    float:				left;
    border:				1px solid #6D808F;
    height:				18px;
    padding-left:		5px;
    padding-right:		5px;
    font-weight:		bold;
}


/************************* Fileupload ******************************/

.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-upload-button {
    display: block; /* or inline-block */
    width: 105px;
    padding: 2px 0;
    text-align: center;
    background: #0e7c87;
    border-bottom: 1px solid #ddd;
    color: #ffffff;
}
.qq-upload-button-hover {
    background: #09ccb2;
}

.qq-upload-button-focus {
    outline: 1px dotted black;
}

.qq-upload-drop-area, .qq-upload-extra-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 70px;
    z-index: 2;
    background: #FF9797;
    text-align: center;
}
.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
}
.qq-upload-extra-drop-area {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    padding-top: 30px;
    height: 20px;
    min-height: 40px;
}

.qq-upload-drop-area-active {
    background: #FF7171;
}

.qq-upload-list {
    margin: 7px 15px;
    padding: 0;
    list-style: disc;
}

.qq-upload-list li {
    margin: 0;
    padding: 0;
    line-height: 15px;
    font-size: 12px;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {
    display: inline-block;
    background: url("../images/fileupload_loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size,.qq-upload-cancel {
    font-size: 11px;
}

.qq-upload-failed-text {
    display: none;
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}

/* ************************************* Bewertungen ********************************* */

div.bewertungContent {
    clear: both;
    width: 98%;
}

div.bewertungContent span {
    display: block;
    width: 200px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    float: left;
    background-color: #d66c00;
    border-radius: 5px;
    margin-bottom: 15px;
}

div.bewertungContent span a {
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

div.bewertungContent div {
    float: left;
    margin-right: 10px;
}

div.bewertungContent dl {
    padding-top: 10px;
    clear: both;
}

div.bewertungContent dl dd {
    background-color: #F2F2F2;
    padding: 5px;
}

div.bewertungContent dl dd p {
    margin-top: 5px;
}

div.bewertungContent dl dd p.kommentar {
    padding: 5px;
    border: 1px solid red;
}


div.bewertungsForm h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

div.bewertungsForm fieldset {
    width: 470px;
}


/* Mobily Slider Control */

.slider {
    width: 565px;
    height: 250px;
    position: relative;
    margin-bottom: 25px;
    z-index: 0;
}

.sliderContent {
    clear: both;
    position: relative;
    height: 250px;
    overflow: hidden;
    z-index: 1;
}

.sliderArrows a {
    display: block;
    text-indent: -9999px;
    outline: none;
    z-index: 50;
    background-image: url(../../../../../images/prev_next.png);
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    margin-top: -34px;
}

.prev {
    background-position: 0 0;
    left: 15px;
}

.prev:hover {
    background-position: 0 -44px;
}

.next {
    right: 15px;
    background-position: -44px 0;
}

.next:hover {
    background-position: -44px -44px;
}

.sliderBullets {
    position: absolute;
    bottom: 9px;
    left: 95%;
    z-index: 50;
    margin-left: -45px;
}

.sliderBullets a {
    display: block;
    float: left;
    text-indent: -9999px;
    outline: none;
    margin-left: 5px;
    width: 10px;
    height: 11px;
    background: url(../../../../../images/bullets.png) no-repeat;
}

.sliderBullets .active {
    background-position: 0 -11px;
}

.sliderContent a {
    outline: none;
}

div.warenkorbAnzahl {
    position: absolute;
    right: 5px;
    top: 5px;
}

div.addWarenkorbPopup {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 7px 1px #999999;
    height: 80px;
    width: 270px;
    top: -95px;
    left: -33px;
    z-index: 1000;
    padding: 5px;
}

div.wkPopup {
    position: relative;
}

div.addWarenkorbPopupDetail {
    left: 262px;
    top: -93px;
}

div.warenkorbBox div#warenkorbFlashColor {
    background-color: #59a71c;
    display: hidden;
}


/******************************* News Box **********************************/

div.newsBox img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}


/******************************* Kundenseite ******************************/

div.kundenseite {
    float: left;
    width: 240px;
    height: 140px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    border: 10px solid #eaeaea;
    border-radius: 10px;
    background-color: #f6f6f6;
}

div.kundenseite h3 {
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

div.kundenseite p {
    font-size: 11px;
    padding-top: 3px;
    margin: 0;
}

div.kundenseite small {
    display: block;
    text-align: right;
    padding-right: 5px;
}

/******* Meldungen **********/

.fehlerMeldung {
    display: block;
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin: 8px;
    text-align: center;
}

.erfolgsMeldung {
    display: block;
    color: green;
    font-size: 12px;
    font-weight: bold;
    margin: 8px;
    text-align: center;
}


.artikelCleaner {
    clear: both;
    padding-bottom: 10px;
}


.higlightText {
    font-weight:		bold;
}

/***** Listformatierungen ********/

ul.list {
    list-style-position: inside;
}

ol.list {
    list-style-position: inside;
}

div.clearBox {
    clear:				both;
    padding-top:		10px;
}

.hide {
    display: none;
}


/********** Toggle für Artikel- und Kategorieübersicht ***********/

div.artikelToggle {
    height: 54px;
    overflow: hidden;
}

div.artikelToggleButton {
    text-align: right;
    padding-right: 20px;
    font-size: 11px;
    font-weight: bold;
}

/******** Paypal ***********/

div.paypalButton {
    float:				right;
    padding:			4px;
    margin-right:		5px;
    margin-top:			5px;
    border: 			none;
}

